body {
  margin: 100px;
  display: flex;
  justify-content: center;
}
.maincontainer {
  width: 100vw;
  height: 100vh;
  background-color: #b0b2b5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 500px;
  height: 460px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px 10px;
}
.heading {
  color: #e2ecf3;
  font-size: 45px;
 cursor: pointer;
  padding: 12px 0px;
  margin-bottom: 0px;
}
.heading-span {
  color: #efb619;
  display: block;
  margin-bottom: 0px;
}
.warring {
  color: #e2ecf3;
  font-size: 22px;
  margin-top: 0px;
  cursor: pointer;

  /* background-color: aqua; */
}
input {
  outline: none;
  height: 30px;
  font-size: 19px;
  display: inline;
  width: 190px;
  margin-left: 12px;
  background-color: #273549;
  color: #efb619;
  border: none;
  cursor: pointer;
}
.Generate-password {
  background-color: #efb619;
  padding: 12px 18px;
  border: 2px solid #efb619;
  border-radius: 22px;
  color: #e2ecf3;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.5;
}
.input {
  display: flex;
  margin: 35px auto;
}
